
#panel {
	background-color: rgba(17, 12, 13, 0.8);
	height: 24px;
}

#panel .panel-corner {
	-panel-corner-radius: 0;
}

/* Reduce padding for last panel button */
#panel > :last-child > :last-child > .panel-button {
	-natural-hpadding: 4px;
	-minimum-hpadding: 4px;
}

#panel .panel-button:hover {
	background-color: #303030;
}

.app-well-app-running-dot {
	background-color: #398ee7; /*dashes*/
}

.calendar .calendar-today {
	border-color: #398ee7;
	border-width: 2px;
}

.osd-window {
	text-align: center;
	font-weight: bold;
	spacing: 12px;
	margin: 32px;
	min-width: 64px;
	min-height: 64px;
}

.osd-window StIcon {
	icon-size: 6.54em;
}

.osd-window .osd-monitor-label {
	font-size: 3em;
}

.osd-window .level {
	height: 8px;
	-barlevel-height: 8px;
	-barlevel-background-color: rgba(238, 238, 236, 0.1);
	-barlevel-active-background-color: #eeeeec;
	-barlevel-overdrive-color: #b2161d;
	-barlevel-overdrive-separator-width: 3px;
}

/*input entry*/
StEntry:focus {
	border-color: #092444;
	box-shadow: inset 0 0 0 1px #1b6acb;
}

/*menus*/
.popup-menu-boxpointer, .candidate-popup-boxpointer {
	-arrow-border-radius: 2px;
	-arrow-base: 0;
	-arrow-rise: 0;
	margin: 5px;
}

.workspace-thumbnail-indicator {
	border-color: #398ee7; 
}

#panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
	box-shadow: inset 0 -2px 0 #398ee7;
}

/* Fix spacing for window tumbnails */
.dashtodock-app-well-preview-menu-item {
	margin: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.dashtodock-app-well-preview-menu-item {
	font-weight: bold;
}

.window-close {
	background-color: transparent;
	background-image: url("assets/close-active.png");
	background-size: 24px;
	border: none;
	border-radius: 2px;
	box-shadow: none;
	color: transparent;
	height: 24px;
	width: 24px;
}

.window-close:hover {
	background-image: url("assets/close-hover.png");
}

.button:focus, .modal-dialog-linked-button:focus {
	box-shadow: inset 0 0 0 1px #398ee7;
}

/* fix BottomPanel glitch */
.window-picker {
	padding-top: 30px;
	padding-bottom: 30px;
}
